{% extends 'base.html' %}
{% block content %}
        <!-- CATALOG INDEX SKJAL -->
    <h3>ABOUT US</h3>

        <div class="aboutus-text">
        <p>
            We are a new retro gaming shop and our goal is to become the greatest, biggest and most recognized retro gaming shop out there!
            We are a family that wants to keep retro gaming alive by only having the very best. By making sure everyone is welcome,
            no matter how much gaming knowledge you have and and making sure everyone can enjoy retro games. Our diverse team here is
            made up of the smartest most honest people you can find. Retro gaming nuts and hard working young people
            teaming up with the goal of making Captin Consol a place of quality, honesty, and integrity that you would want
            in a retro game store.
        </p>
        <p>
            We sell everything from ZX Spectrum to Gameboy for all your retro gaming desire can come true!
        </p>


{% endblock %}