{% extends 'base.html' %}
{% block content %}
        <!-- CATALOG INDEX SKJAL -->
    <div style="background-color:lightgrey;">
    <h3> ABOUT US</h3>

        <div class="aboutus-text">
        <p>
            We are a new retro gaming shop and our goal is to become the greatest, biggest and most recognized retro gaming shop out there!
        </p>
        <p>
            We sell everything from ZX Spectrum to Gameboy for all your retro gaming desire can come true
        </p>

        </div>

        <div class="staff-text">
            Here in Captin console we have only the best people

        </div>

{% endblock %}