/*auto*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
/* body allur texti */
body {
	text-space: auto;
	background-color: #53575a;
	font-family: 'Poppins', sans-serif;
	color: white;

}
/* sections auto dót */
section {
	margin: 20px;
}
h3{
	margin-top: 50px;
}
button {
	font-family: 'Poppins', sans-serif;
}
/* auto texta stillingar*/
font {
	color: whitesmoke;
}

/* header */
header {
	display: flex;
	height: 10vh;
	width: 100%;
	align-items: center;
}
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

footer {
	padding-top: 5px;
  	color: white;
  	text-align: center;
  	height: fit-content;
  	text-shadow: 1px 1px 1px black;
	position:relative;
	margin-top: -100px;
	clear:both;
}
.row,
.col,
.footer-links{
	list-style: none;
	text-decoration: none;
	color: whitesmoke;
}

/*dót í navbar*/

.form-group,
.btn-default,
.nav-item,
.navbar-form,
.dropdown-item,
.btn-default,
.navbar,
.nav-cart,
.nav-search{
	display: flex;
	justify-content: space-between;
}
.logo-img{
	flex: 1;
}
.nav-item {
	float: start;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
}
.navbar{
	position: relative;
	flex-wrap: nowrap;
	flex: 3;
	align-items: center;
	justify-content: space-between;
}


.nav-cart {
	filter: invert(100%);
	color: #fbff66;
	justify-content: space-around;
}

.navbar-toggler{
	display: flex;
	justify-content: flex-end;
}