/*auto*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
/* body allur texti */
body {
	font-family: 'Poppins', sans-serif;

}
/* sections auto dót */
section {
	margin: 20px;
}
button {
	font-family: 'Poppins', sans-serif;
}
/* header */
header {
	display: flex;
	height: 10vh;
	width: 100%;
	align-items: center;
}
/*dót í navbar*/


.form-group,
.btn-default,
.nav-item,
.navbar-form,
.dropdown-item,
.btn-default,
.navbar,
.nav-cart,
.nav-search{
	display: flex;
	justify-content: space-between;
}
.logo-img{
	flex: 1;
}
.navbar{
	flex: 3;
	align-items: center;
	justify-items: stretch;
}

.nav-cart,
.nav-search{
	filter: opacity(70%);
	color: #fbff66;
	justify-content: space-around;
}

.navbar-toggler{
	display: flex;
	justify-content: flex-end;
}