<footer class="page-footer">
  <hr class="solid">
    <div class="container">
    <div class="row">
      <div class="col">
        <h5>Footer Content</h5>
        <p>Bæta við texta hér if you want.</p>
      </div>

      <div class="col">
        <h5>Links</h5>
        <ul class="footer-links">
          <li><a href="{% url 'consoleIndex'%}">CATALOG</a></li>
          <li><a href= "{% url 'aboutUsIndex'%}">ABOUT US</a></li>
          <li><a href="{% url 'user'%}">MY ACCOUNT</a></li>
        </ul>
      </div>
        <div class="col">
            <p>Apagata 1, 750 ICELAND</p>
            <p>+33 799 9999</p>
        </div>
  </div>

  <div class="footer-copyright">
    © Captain Console 2020
  </div>
  </div>
</footer>
