<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
              <a class="logo-img" href="{% url 'frontpageIndex'%}">
                    <img src="../static/img/clogo2.png" width="100" height="100" alt=""> </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>


            <!-- aðal navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                 <!-- CATALOG DROPDOWN -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CATALOG
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'consoleSaleIndex'%}">CONSOLES</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'gamesindex'%}">GAMES</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'otherindex'%}">OTHER</a>
                        </div>
                    </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'about_usindex'%}">ABOUT US</a>
                          </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_accountindex'%}">MY ACCOUNT</a>
                    </li>
                        <li class="nav-cart">
                            <a class="nav-link" href="#"><img src="../static/img/cart1.svg" width="40" height="40" alt=""> </a>
                        </li>
                        <li class="nav-search">
                            <a class="nav-search" href="#"><img src="../static/img/search.svg" width="30" height="30" alt=""> </a>
                        </li>


                <!-- SEARCH TAKKI
                    <form class="form-inline my-2 my-sm-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></form>
                         edit breki, tengja search bar við leitar function bakendamegin, editaði bara input type=
                         og gaf searchbox og serachbtn id
                        <button type="submit" class="btn btn-default" id="searchBtn" placeholder="Search...">
                        <img src="../static/img/search.svg" width="20" height="20" alt=""></button>
                        </div>
                    </form>-->
                        </ul>
                    </li>
                </ul>
            </div>

    </nav>
</header>