<header>
    <div class="navbar navbar-default">
            <div class = "logo-container">
                <a class="logo-img" href="#">
                    <img src="../static/img/clogo1.png" width="100" height="100" alt="">
                    </a>
            </div>
            <!-- aðal navbar links -->
        <nav>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav-links">
                 <!-- CATALOG DROPDOWN -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">CATALOG<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">CONSOLES</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">GAMES</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">OTHER</a></li>
                        </ul>
                    </li>
                    <li><a href="#">ABOUT US</a></li>
                    <!-- LINK -->
                    <li><a href="#">MY ACCOUNT</a></li>
                <!-- SEARCH TAKKI -->
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <button type="submit" class="btn btn-default">SEND</button>
                    </form>
                <!-- MORE TAKKINN MEÐ DROPDOWN-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">MORE<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">CONSOLES</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>