{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <script src="{% static 'js/checkout.js' %}"></script>
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'checkout' %}">Contact</a></li>
    <li class="breadcrumb-item"><a href="{% url 'checkout2' %}">Payment</a></li>
    <li class="breadcrumb-item"><a href="{% url 'checkout3' %}">Review</a></li>
    <li class="breadcrumb-item active" aria-current="page">Confirm</li>
  </ol>
</nav>
    <h3>Order complete!</h3>

    <div>
        <p>Thank you for your business, and we hope you had a good time shopping with us!</p>
        <h6>-The Captain console staff.</h6>

    </div>


{% endblock %}