{% extends "base.html" %}


{% block content %}
    <div class=""form-row align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <hr>
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}
                <div class="panel-heading">
                    <h3 class="panel-title">Register</h3>
                    <hr>
                </div>
                <div class="form-group-sm">
                    <form method="post" class="form">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </form>

                <h4>Related Links</h4>
                <p>
                    <a href="/reset-password/">Forgot Password?</a> <br>
                    <a href="{% url 'login' %}">Login.</a> <br>
                </p>
            </div>
            </div>
        </div>
    </div>

{% endblock %}