{% extends 'base.html' %}
{% block content %}
        <!-- CATALOG INDEX SKJAL -->

    <h3> THIS IS ALL PRODUCTS!</h3>
    <!-- þetta er bara basic stíll megið breyta lookinu :) -Breki -->
    <div class="input-group">
        <input type="search" class="form-control" id="searchBox" placeholder="Search ..." />
    <div class="input-group-btn">
        <button type="button" id="searchBtn" class="btn btn-default">Search</button>
    </div>
    </div>
    {% for console in consoles %}
    {% include 'catalog/singleConsole.html' with console=console %}
    {% endfor %}
{% endblock %}