{% extends 'base.html' %}
{% block content %}
        <!-- CATALOG INDEX SKJAL -->
    <!-- þetta er bara basic stíll megið breyta lookinu :) -Breki -->
    <div class="input-group">
        <input type="text" list="history" autocomplete="on" class="form-control" id="searchBox" placeholder="Search ..." />
        <datalist id="history">
            </option>
        </datalist>
    <div class="input-group-btn">
        <button type="button" id="searchBtn" class="btn btn-default">Search</button>
    </div>
    </div>

      <!-- sort by DROPDOWN listi -->
    <li class="sortbyDropdown list-unstyled">
        <a class="dropdown-toggle" href="#" id="sortbyDropdown" role="button" data-toggle="dropdown">SORT BY</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'sortByName'%}">NAME</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'sortByPrice'%}">PRICE</a>
        </div>
    </li>
    <div class="row">
        <div class="col">
            <div class="filterByCategory">
                <label>
                    <input type="checkbox" value="1" class="cBox" name="NES">NES</label>
                <label>
                    <input type="checkbox" value="2" class="cBox" name="SNES">SNES</label>
                <label>
                    <input type="checkbox" value="3" class="cBox" name="Playstation">Playstation</label>
                <label>
                    <input type="checkbox" value="4" class="cBox" name="Dreamcast">Dreamcast</label>
                <label>
                    <input type="checkbox" value="5" class="cBox" name="Nintendo 64">Nintendo 64</label>
                <label>
                    <input type="checkbox" value="" class="cBox" name="See all">View all</label>
            </div>
        <div class="col">
            <div class="product">
                {% for console in consoles %}
                {% include 'catalog/singleConsole.html' with console=console %}
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}