{% extends "base.html" %}
{% block content %}
    <div class = "item-views">
        <div class = "item-img">
            {% for console_image in console.consoleimage_set.all %}
                <img src="{{ console_image.image }}" class="rounded float-left" />
            {% endfor %}
        </div>
        <h1> {{ console.name }} </h1>
        <p>  {{ console.description }} </p>
        <h3> {{ console.company }} </h3>
        <h2> {{ console.price }} $ </h2>

        <form class="" action="/cart/" method="post">{% csrf_token %}
            <p><input type="submit" value="add to cart" class="catalog-cta-add"></p>
        </form>

    </div>
{% endblock %}