{% extends 'base.html' %}
{% block content %}
        <!-- CATALOG INDEX SKJAL -->

    <h3> THIS IS ALL PRODUCTS!</h3>
    <!-- þetta er bara basic stíll megið breyta lookinu :) -Breki -->
    <div class="input-group">
        <input type="search" class="form-control" id="searchBox" placeholder="Search ..." />
    <div class="input-group-btn">
        <button type="button" id="searchBtn" class="btn btn-default">Search</button>
    </div>
    </div>

      <!-- sort by DROPDOWN listi -->
    <li class="sortby dropdown">
        <a class="dropdown-toggle" href="#" id="sortbyDropdown" role="button" data-toggle="dropdown">SORT BY</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'sortByName'%}">NAME</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'sortByPrice'%}">PRICE</a>
        </div>
    </li>



    {% for console in consoles %}
    {% include 'catalog/singleConsole.html' with console=console %}
    {% endfor %}
{% endblock %}